<form method="post" id="pssl_popup_form">
    <input type="hidden" name="NewSubscriber" value="true">
    <input type="hidden" name="welcome_letter" value="1" id="welcome_letter">
    <div class="bh-segment form__input-wrapper form__input-wrapper--labelled">
      <input type="email" name="subscriber_email" id="pop-deal-alerts-email" class="form__field form__field--text"  title="Email Address">
      <label for="pop-deal-alerts-email" class="form__floating-label">Email</label>
    </div>
    <button type="submit" class="form__submit button button--primary button--full" value="Sign Me Up!">Sign Me Up!</button>
</form>