<div id="ftr-deal-alerts" class="show-for-medium">
  <form method="post" id="pssl_widget_form">
    <input type="hidden" name="NewSubscriber" value="true">
    <div class="bh-segment form__input-wrapper form__input-wrapper--labelled">
      <input type="email" name="subscriber_email" id="ftr-deal-alerts-email" class="form__field form__field--text"  title="Email Address">
      <label for="ftr-deal-alerts-email" class="form__floating-label">Email</label>
    </div>
    <div class="bh-segment form__input-wrapper form__input-wrapper--labelled">
      <input type="text" name="postcode" id="ftr-deal-alerts-zipcode" class="form__field form__field--text"  title="Zip Code">
      <label for="ftr-deal-alerts-zipcode" class="form__floating-label">Zip code</label>
    </div>
    <div class="bh-segment-list">
      <div class="bh-segment">
        <input type="checkbox" id="rdo838299-ftr" name="othersegs" value="838299" checked="checked">
        <label for="rdo838299-ftr"><span class="bh-segment-name">Contests</span></label>
      </div>
      <div class="bh-segment">
        <input type="checkbox" id="rdo838296-ftr" name="othersegs" value="838296" checked="checked">
        <label for="rdo838296-ftr"><span class="bh-segment-name">Killer Daily Deals</span></label>
      </div>
      <div class="bh-segment">
        <input type="checkbox" id="rdo854412-ftr" name="othersegs" value="854412" checked="checked">
        <label for="rdo854412-ftr"><span class="bh-segment-name">New Gear Alerts</span></label>
      </div>
      <div class="bh-segment">
        <input type="checkbox" id="rdo838297-ftr" name="othersegs" value="838297" checked="checked">
        <label for="rdo838297-ftr"><span class="bh-segment-name">Price Cuts</span></label>
      </div>
      <div class="bh-segment">
        <input type="checkbox" id="rdo838298-ftr" name="othersegs" value="838298" checked="checked">
        <label for="rdo838298-ftr"><span class="bh-segment-name">Tech Corner</span></label>
      </div>
      <div class="bh-segment">
        <input type="checkbox" id="rdo838295-ftr" name="othersegs" value="838295" checked="checked">
        <label for="rdo838295-ftr"><span class="bh-segment-name">Weekly Deals</span></label>
      </div>
    </div>
    <button type="submit" class="form__submit button button--primary button--full" value="Sign Me Up!">Sign Me Up!</button>
    <p id="form_error"></p>
  </form>
</div>