{% unless gmm_image_size %}
{% assign gmm_image_size = "medium" %}
{% endunless %}
<script id="globo-hidden-menu" type="text/html">
<li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target  globomenu-target-with-icon globomenu-item-layout-icon_left globomenu-item-layout-icon_left globomenu-target-with-icon globomenu-item-layout-icon_left" href="/"><i class="globomenu-icon fa fa-home"></i><span class="globomenu-target-title globomenu-target-text">Home</span></a></li><li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target " href="/"><span class="globomenu-target-title globomenu-target-text">Shop by Category</span></a></li><li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target "><span class="globomenu-target-title globomenu-target-text">Shop By Brand</span></a></li><li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target "><span class="globomenu-target-title globomenu-target-text">New Gear Arrivals</span></a></li><li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target "><span class="globomenu-target-title globomenu-target-text">Learn</span></a></li><li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target "><span class="globomenu-target-title globomenu-target-text">Sale</span></a></li><li id="search-menu" class="globomenu-item globomenu-item-level-0">
<a class="globomenu-target globomenu-item-layout-icon_left"><i class="globomenu-icon fa fa-search" aria-hidden="true"></i></a>
<ul class="globomenu-submenu globomenu-submenu-type-auto globomenu-submenu-type-mega globomenu-submenu-drop">
<li class="globomenu-item globomenu-column globomenu-column-full">
<div class="globomenu-content-block">
<div class="globomenu-search">
<form role="search" method="get" class="globomenu-searchform" action="/search">
<input type="hidden" name="type" value="product">
<input class="globomenu-search-input" type="search" name="q" value="" placeholder="Search all products...">
<button type="submit" class="globomenu-search-submit"><i class="globomenu-icon fa fa-search" aria-hidden="true"></i></button>
</form>
</div>
</div>
</li>
</ul>
</li>
</script>
