{% if collection.id == 159466422320 or collection.id == 159466815536 or collection.id == 159467241520 or collection.id == 159477727280 or collection.id == 159466455088 or collection.id == 159467274288 or collection.id == 159473893424  or collection.id == 159632621616 or collection.id == 159459442736 %} 
<!-- DJ -->
<div class="global-banner">
  <a href="/products/american-audio-vps-60-dynamic-handheld-microphone" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/FreeMic.jpg" class="lazyload"></a>
</div>
<div class="global-banner-mobile">
	<a href="/products/american-audio-vps-60-dynamic-handheld-microphone" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/Mobile-FreeDJ.jpeg" class="lazyload"></a>
</div>
{% endif %}

{% if collection.id == 160419577904 or collection.id == 159476351024 or collection.id == 159476023344 or collection.id == 159468421168 or collection.id == 159479857200 or collection.id == 159476449328 or collection.id == 159470649392 or collection.id == 159487164464 or collection.id == 159475859504 or collection.id == 159476940848 or collection.id  == 159476416560 or collection.id == 159459508272 or collection.id == 159490080816 or collection.id == 159476383792 or collection.id == 159476547632 %} 
<!-- Lighting -->
<div class="global-banner">
  <a href="/products/usb-to-dmx-interface-w-lighting-control-software" target="_blank"><img data-src="https://cdn.shopify.com/s/files/1/0277/2631/5568/files/FreeUSB_1.jpg" class="lazyload"></a>
</div>
<div class="global-banner-mobile">
	<a href="/products/usb-to-dmx-interface-w-lighting-control-software" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/Mobile-FreeLighting.jpg" class="lazyload"></a>
</div>
{% endif %}

{% if collection.id == 159481135152 or collection.id == 159486836784 or collection.id == 159482740784 or collection.id == 159478382640 or collection.id == 159482314800 or collection.id == 159485427760 or collection.id == 159474352176 or collection.id == 159463538736 or collection.id == 159479529520 or collection.id == 159482347568 or collection.id == 159469830192 or collection.id == 159471960112 %}   
<!-- PA -->
<div class="global-banner">
	<a href="/products/american-audio-vps-60-dynamic-handheld-microphone" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/FreeMic.jpg" class="lazyload"></a>
</div>
<div class="global-banner-mobile">
	<a href="/products/american-audio-vps-60-dynamic-handheld-microphone" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/Mobile-FreeDJ.jpeg" class="lazyload"></a>
</div>
{% endif %}

{% if collection.id == 159487623216 or collection.id == 159662112816 or collection.id == 159632228400 or collection.id == 159475531824 or collection.id == 159489818672 or collection.id == 159484018736 or collection.id == 159662014512 or collection.id == 159484149808 or collection.id == 159469633584 %}   
<!-- Studio -->
<div class="global-banner">
  <a href="/products/solena-professional-sp-300-monitor-stand-pair" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/FreeStands.jpg" class="lazyload"></a>
</div>
<div class="global-banner-mobile">
  <a href="/products/solena-professional-sp-300-monitor-stand-pair" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/Mobile-FreeStudio.jpg" class="lazyload"></a>
</div>
{% endif %}

{% if collection.id == 159477006384 or collection.id == 159477071920 or collection.id == 159477202992 or collection.id == 159476809776 or collection.id == 159476908080 or collection.id == 159476875312 or collection.id == 159476285488 or collection.id == 159477039152 or collection.id == 159488737328 or collection.id == 159487361072 %}   
<!-- Truss -->
<div class="global-banner">
  <a href="/products/eliminator-mini-par-rgbw-led-12-x-1-watt-rgbw-led-light" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/FreePar.jpg" class="lazyload"></a>
</div>
<div class="global-banner-mobile">
	<a href="/products/eliminator-mini-par-rgbw-led-12-x-1-watt-rgbw-led-light" target="_blank"><img data-src="//cdn.shopify.com/s/files/1/0277/2631/5568/files/Mobile-FreeTruss.jpg" class="lazyload"></a>
</div>
{% endif %}
