<div id='dbuymodel1'/>
        <form name="dbuyform1" id="dbuyform1">
            <input type="hidden" name="processInd" value="1"/>
            <input type="hidden" name="tokenId" id="syftokenId"/>
            <input type="hidden" name="merchantID" id="merchantID"/>
            <input type="hidden" name="clientTransId" id="clientTransId"/>
            <input type="hidden" name="custFirstName" value=""/>
            <input type="hidden" name="custLastName" value=""/>
            <input type="hidden" name="custZipCode" value=""/>
            <input type="hidden" name="cardNumber" value=""/>
        </form> 
        {% include 'syf-modal-script' %}